<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>
    /* Add your CSS styles here */
    .container {
      text-align: center;
      margin-top: 100px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome</h1>
    <a href="{% url 'signup' %}" class="btn">Sign Up</a>
    <a href="{% url 'login' %}" class="btn">Login</a>
    <a href="admin" class="btn">admin</a>
  </div>
</body>
</html>
